$block-class: 'd3-chart';

@import 'colors';

@at-root {
  .#{$block-class} {
    width: 90vw;

    &__line-chart {
      height: 650px;
      width: 93vw;
      background-color: #fff;
    }

    &__x-axis {
      display: none;
    }

    &__y-axis {
      color: $y-axis-line-color;
    }

    &__stroke-stroke-width-opacity {
      stroke-width: 2;
      stroke-opacity: 0.5;
    }

    &__label {
      fill: $axis-label-color;
      font-size: 1.3rem;
      font-weight: bold;
      text-anchor: middle;
    }

    &__rating-y {
      color: $axis-label-color;
      font-size: 1.125rem;
      font-weight: bold;
    }

    &__dates-x {
      color: $axis-label-color;
      font-size: 1rem;
      font-weight: bold;
    }

    &__tooltip {
      position: absolute;
      z-index: 10;
      visibility: hidden;
      background: $default-gray;
      border: 1px solid $default-black;
      color: white;
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 10px;
      visibility: hidden;
      white-space: pre-line;
    }

    &__overlay {
      fill: none;
      pointer-events: all;
    }
  }
}
