$default-gray: #808080;
$default-red: #C62828;
$default-green: #2E7D32;

$gray-main: #616161;
$gray-light: #CFDFDC;
$gray-dark: #666666;

$blue-main: #4269f5;
$blue-light: #1976D2;
$blue-light-2: #DFF4FC;
$blue-dark: #162f8a;

// Blue-grey theme pallete
$blue-grey: #607D8B;
$blue-grey-lighten-5: #ECEFF1;
$blue-grey-lighten-4: #CFD8DC;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-1: #78909C;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$blue-grey-darken-3: #37474F;
$blue-grey-darken-4: #263238;
