$default-gray: #808080;
$default-red: #C62828;
$default-black: #263238;
$default-green: #2E7D32;

$gray-main: #616161;
$gray-light: #CFDFDC;
$gray-dark: #666666;

$blue-main: #4269f5;
$blue-light: #1976D2;
$blue-dark: #162f8a;

