h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

p {
    padding-bottom: 40px
}

.getting-started-input-form {
    margin-left: 15px;
    margin-right: 15px;
}

.getting-started-input-button {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}
