/*Start | On-Off Button Design*/
.btn-onoff {
  /* position: relative;
  display: inline-block;
  vertical-align: middle; */
}
.btn-onoff input {
  display: block;
  position: absolute;
  opacity: 0;
}
.btn-onoff span {
  margin: auto;
  position: relative;
  display: block;
  width: 85px;
  height: 34px;
  border-radius: 40px;
  background: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
}
.btn-onoff input:checked ~ span {
  border: 1px solid #4caf50;
  background: #4caf50;
}
.btn-onoff input ~ span:before {
  content: "Off";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 17px;
  font-size: 14px;
  font-family: "Arial";
  font-weight: bold;
  line-height: 34px;
  color: #444;
  padding: 0px 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.btn-onoff input:checked ~ span:before {
  content: "On";
  right: 36px;
  color: #fff;
}
.btn-onoff input ~ span:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 4px;
  left: 4px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
}
.btn-onoff:hover input ~ span:after {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.btn-onoff input:checked ~ span:after {
  content: "";
  left: 51px;
}
/*End | On-Off Button Design*/
.Help {
  color: #1976d2;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.viewRatingDetailsBtn {
  background-color: #1976d2;
  color: #fff;
  font-weight: 600;
}
.box {
  width: 90%;
  margin: 0 auto;
  background: black;
  padding: 30px 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
  z-index: 0;
}
.StarRate {
  height: 150px;
}
.AISRating {
  height: 150px;
}
.DDRRating {
  height: 150px;
}
.ProjectedBonus {
  height: 150px;
}
